/*
CUSTOM CSS FILE
*/
.transbg.col-xs-1,
.transbg.col-xs-2,
.transbg.col-xs-3,
.transbg.col-xs-4,
.transbg.col-xs-5,
.transbg.col-xs-6,
.transbg.col-xs-7,
.transbg.col-xs-8,
.transbg.col-xs-9,
.transbg.col-xs-10,
.transbg.col-xs-11,
.transbg.col-xs-12 {
	background-color: rgba(0,0,0,0.5);
}

.transbg.col-xs-1.hover:hover,
.transbg.col-xs-2.hover:hover,
.transbg.col-xs-3.hover:hover,
.transbg.col-xs-4.hover:hover,
.transbg.col-xs-5.hover:hover,
.transbg.col-xs-6.hover:hover,
.transbg.col-xs-7.hover:hover,
.transbg.col-xs-8.hover:hover,
.transbg.col-xs-9.hover:hover,
.transbg.col-xs-10.hover:hover,
.transbg.col-xs-11.hover:hover,
.transbg.col-xs-12.hover:hover {
	background-color: rgba(99, 94, 94, 0.5);
}


/* ICONS */


.fas.fa-lightbulb.on:before    {color:#ffff00;}
.fas.fa-power-off.off.on:before  {color:#00FF00;}
.fas.fa-power-off.off:before     {color:#ff8000;}
.fa-toggle-on.on:before         {color:#00FF00;}
.fa-toggle-on.off:before        {color:#ff0000;}

.fas.fa-fire {
	color: #e69604;
}

.fas.fa-male,
.fas.fa-female {
	margin: 5px 10px;
}

.fas.fa-male.on,
.fas.fa-female.on {
	color: #00FF00;
}

#graphoutput53 {
	height: 120px;
}